<div class="containter" >
  <div class="row">
  <div class="col-xl-8" >
<h2 class="text-center text-white mt-3">IT's corona time</h2>


<table  class="table table-striped mt-3">
  <thead>
  <tr>
    <th scope="col" >Name</th>
    <th scope="col" onclick="ime()">Population</th>
    <th scope="col" sortable>Confirmed</th>
    <th scope="col">Recovered</th>
    <th scope="col">Deaths</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let country of countries " >
    <th scope="row">{{ country.name }}</th>
    <td>
      {{ country.population }}
    </td>
    <td>{{ country.latest_data.confirmed }}</td>
    <td>{{ country.latest_data.recovered }}</td>
    <td>{{ country.latest_data.deaths }}</td>
    <td><a class="btn text-light" (click)="open(content,country)">Details</a></td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getallcountry()">
  </ngb-pagination>
</div>
  </div>
  </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{selectedcountry.code}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> Selected country: {{selectedcountry.name}} </p>
      <p>Today deaths: {{selectedcountry.today.deaths}} </p>
      <p>Today confirmed:{{selectedcountry.today.confirmed}} </p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
  </ng-template>

