*{
  background: #A62639;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
}
html,body{
  width: 100%;
height: 100%;
background: #A62639;
}
.headerimg{
  height: 7%;
  width: 7%;
  padding-left: 0%;
}
ul {
  justify-content: center;
  display: flex;
}
p{
  margin-top: 2.3%;
  font-size: 150%;
}
.h1{
color: darkgoldenrod ;
}
.corimg{
  width: 10%;
  height: 10%;
}
